<section class="discover">
    <section class="col-left">
      <h2 class="col-left__headline">Discover new music</h2>

      <section class="col-left__options">
        <article class="col-left__options__charts">
            <span class="img"></span>
            <span class="text">Charts</span>
        </article>
        <article class="col-left__options__albums">
            <span class="img"></span>
            <span class="text">Albums</span>
        </article>
        <article class="col-left__options__more">
             <span class="img"></span>
             <span class="text">More</span>
        </article>
      </section>

      <p class="col-left__description">
        Join to take the advantage of listening to latest albums released
      </p>
    </section>

    <section class="col-right">
      <span class="col-right__img-1"></span>
      <span class="col-right__img-2"></span>
      <span class="col-right__img-3"></span>
      <span class="col-right__img-4"></span>
    </section>
</section>
