.discover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25vh 14% 15vh 14%;
    column-count: 2;
    gap: 8rem;
  }
  
  .col-left,
  .col-right {
    flex: 1;
  }
  
  .col-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: space-between; 
  grid-template-columns: 1fr;
  
    &__headline {
      align-self: start;
      font-size: xxx-large;
      font-size: -webkit-xxx-large;
      color: var(--main-color);
    }
  
    &__options {
      align-self: center;
      display: flex;
      justify-content: space-between;
    }
  
    &__options article {
        background-color: rgba(50, 85, 122, .1);
        padding: 1rem 2rem;
        border-radius: 1rem;
        text-align: center;
    }
  
    &__options article .img {
      background-size: cover;
      background-position: center;
      display: block;
      height: 5rem;
      width: 5rem;
    }
  
    &__options__charts .img {
      background: url("../../../assets/icons/icon-charts.png") no-repeat;
    }
  
    &__options__albums .img {
      background: url("../../../assets/icons/icon-albums.png") no-repeat;
    }
  
    &__options__more .img {
      background: url("../../../assets/icons/icon-more.png") no-repeat;
    }
  
    &__options article .text {
        font-size: 1.4rem;
        color: var(--secondary-white-color);
    }
  
    &__description {
      align-self: end;
      font-size: 2rem;
      color: var(--secondary-white-color);
    }
  }
  
  .col-right {
    justify-self: flex-end;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    height: 100%;
  
    &__img-1 {
      background: url("../../../assets/images/discover-img-1.png") no-repeat;
    }
  
    &__img-2 {
      background: url("../../../assets/images/discover-img-2.png") no-repeat;
    }
  
    &__img-3 {
      background: url("../../../assets/images/discover-img-3.png") no-repeat;
    }
  
    &__img-4 {
      background: url("../../../assets/images/discover-img-4.png") no-repeat;
    }
  }
  
  .col-right span {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 1rem;
  }
  
  
  @media screen and (max-width: 768px) {
      .discover {
          padding: 25vh 1rem 15vh 1rem;
      }
  }
  
  @media screen and (max-width: 425px) {
  
      .discover {
          flex-direction: column;
          padding: 10rem 1rem 4rem 1rem;
      }
  
      .col-left {
        text-align: center;
          &__headline {
              font-size: xx-large;
              font-size: -webkit-xx-large;
          }
  
          &__description {
              font-size: 1.5rem;
          }
      }
  
      .col-right {
          height: 30rem;
          width: 100%;
      }
  }