<section class="join">
    <section class="headline">
        <h2>Join the <span>fun.</span></h2>
    </section>

    <section class="form">
        <form action="submitForm()" target="_top" method="post" autocomplete="off" class="form">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="name">Email:</label>
                <input type="email" name="email" id="email">
            </div>

            <div>
                <label for="name">Password:</label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <input type="submit" value="Join now">
            </div>
        </form>
    </section>
</section>