@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

img {
  width: 100%;
  max-width: 60px;
  height: 60px;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -75%;
}

.brand span {
  color: var(--secondary-blue-color);
  font-size: 2.5rem;
  padding-left: 1rem;
}

.container {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 2.4rem 0 2.4rem;
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, var(--nav-opacity-level));
    z-index: 1000;
    transform: var(--transform-scale);
    transition: opacity 0.5s;
  }
}

.menu-toggle {
  color: var(--main-color);
  font-size: 2.2rem;
  position: absolute;
  top: auto;
  transform: translate(-50%);
  right: 10%;
  cursor: pointer;
  z-index: 1500;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--secondary-blue-color);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.nav-link {
  display: block;
  color: var(--main-color);
  font-size: 2rem;
  transition: color 0.5s;

  &:hover {
    color: var(--main-color);
    letter-spacing: 2px;
    margin-right: -2px;
    transition: letter-spacing 0.3s ease-in;
  }
}

@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .nav-item {
    margin: 0 2.4rem;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    font-size: 1.6rem;

    &:hover {
      color: var(--secondary-blue-color);
    }
  }

  .brand {
    margin-left: initial;
  }

  .active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--secondary-blue-color);
      left: 0;
      bottom: -3px;
    }
  }
}

@media screen and (max-width: 425px) {
  .brand {
    margin-left: -50%;
  }
}