.home {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: url("../../../assets/images/notes.png") no-repeat;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
      left: 0;
      top: 0;
      width: 55%;
      height: 100%;
      z-index: -1;
    }
  }
  
  .col-left,
  .col-right {
    flex: 1;
    height: inherit;
    max-height: 85%;
  }
  
  .col-left {
    background: url("../../../assets/images/landing-page-bg.png") no-repeat;
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-position: center;
    display: inline-block;
  
    &__img {
      background: url("../../../assets/images/landing-page-bg.png") no-repeat;
      background-position: left;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  
  .col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    &__headline {
      color: var(--main-color);
      font-size: 8.6rem;
    }
  
    &__subheadline {
      font-size: 2.6rem;
      color: var(--secondary-white-color);
      padding-top: 1rem;
      padding-bottom: 6rem;
    }
  
    &__btn {
      background-color: var(--main-color);
      border: none;
      border-radius: 1rem;
      width: max-content;
      padding: 1rem 4rem;
      color: var(--secondary-blue-color);
      font-size: 2.6rem;
      font-family: var(--font-light);
    }
  }
  
  @media screen and (max-width: 1100px) {
    .col-left {
      background-position: center;
      background-size: 125% 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col-left {
      background-size: 140% 80%;
      background-position: center bottom;
      max-height: 95%;
    }
  
    .col-right {
      align-items: flex-start;
  
      &__headline {
        font-size: 6.5rem;
      }
  
      &__subheadline {
        font-size: 1.5rem;
      }
  
      &__btn {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .home {
      flex-direction: column;
      margin-top: 10vh;
  
      &::after {
        content: initial;
        display: initial;
        position: initial;
        background: initial;
        background-repeat:initial;
        background-position: initial;
        background-size: initial;
        left: initial;
        top: initial;
        width: initial;
        height: initial;
        z-index: initial;
      }
    }
  
    .col-left {
      margin-top: 5rem;
      background-size: contain;
      background-position: center;
      position: relative;
  
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: url("../../../assets/images/notes.png") no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  
    .col-right {
      text-align: center;
      align-items: center;
      margin: auto;
  
      &__subheadline {
        padding-bottom: 2rem;
      }
    }
  
    ::ng-deep main {
      height: 90vh;
    }
  
    ::ng-deep footer {
      height: 10vh;
    }
  }
  