@import "../src/assets/css/reset.css";

@font-face {
  font-family: "poppinslight";
  src: url("../src/assets/fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../src/assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../src/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../src/assets/fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: rgb(185, 201, 211);
  --font-light: "poppinslight";
  --font-medium: "poppinsmedium";
  --font-regular: "poppinsregular";
  --font-semibold: "poppinssemibold";
  --main-color: rgb(254, 237, 214);
  --secondary-white-color: #ffffff;
  --secondary-blue-color: #32557a;
  --nav-opacity-level: 0;
  --transform-scale: scale(0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
}

body {
  font-family: var(--font-light), sans-serif;
  background-color: var(--background-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 12vh;
}

main {
  height: 90vh;
}

footer {
  height: 10vh;
  background-color: rgba(50, 85, 122, .1);
}

.clearfix {
  overflow: auto;
}

@media screen and (max-width: 425px) {
  main, footer {
    height: initial;
  }
}