<footer>
    <section class="container">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <img src="assets/icons/icon-twitter.png" alt="">
                    <span>Twitter</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <img src="assets/icons/icon-facebook.png" alt="">
                    <span>Facebook</span>
                </a>
            </li>
        </ul>
    </section>
</footer>